<body id = "bg">
    <h1>USER LOGIN</h1>
    <img src="../assets/shade.png" width="100" height="100" alt="avatar" />
    <div id = "cform">
      
      <form>
    <input type ="text" placeholder="Username" required="required"/>
    <br>
    <br>
    <input type ="text" placeholder="Password" required="required"/>
    <br>
    <input type="checkbox"/>Remember Me
    <p>  </p>
    <p>  </p>
    <button id ="b1" value="Send" (click) = "signin()"  >Sign In</button>
    
    
    </form>
    </div>
    
    </body>
    
    